<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <div class="container">
        <section class="mt-4">
            <div class="row">
                <div class="col-md-3 mt-4 mb-4">
                    <h6 class="text-left">О сайте</h6>
                    <p class="text-left">Блог о Django. Полезное для начинающих</p>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 mt-4 mb-4">
                    <p class="text-left"><a href="https://ccbv.co.uk/">Classy Class-Based Views</a></p>
                    <p class="text-left"><a href="https://djangopackages.org/">Django Packages</a></p>
                    <p class="text-left"><a href="https://djangosnippets.org/">Полезные фрагменты кода</a></p>
                </div>
            </div>
        </section>
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Django-блог.
        <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}"> Карта сайта </a>
    </div>
    <!--/.Copyright-->

</footer>
    <!--/.Footer-->