# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py


# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myproject/.env
myproject/myproject/.env

# Pyre type checker
.pyre/
.idea
.idea/

# Static dev
static_dev/
media
static/