                                <!-- Default form reply -->
                                <form action="" method="post" >{% csrf_token %}

                                    <!-- Comment -->
                                    <!-- Name -->
                                    
                                    <label for="replyFormName">Ваше имя </label>
                                    <input type="form-control" id="replyFormName" class="form-control"> <br>


                                    <div class="form-group">
                                        <label for="replyFormComment">Ваш комментарий </label>
                                        <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                                    </div>
                                    

                                    <br>
                                    
                                    <div class="text-center mt-4">
                                        <button class="btn btn-info btn-md" type="submit">Отправить</button>
                                    </div>
                                </form>
                                <!-- Default form reply -->